@page "/"

<section class="row row-cols-1 row-cols-md-2 row-cols-lg-4">

	@foreach (var board in boards)
	{
		<section class="col">
			<section class="card">
				<div class="card-body">
					<h3 class="card-title">@board.Title</h3>
				</div>
			</section>
		</section> 
	}

</section>

@code {

	private List<Board> boards = new List<Board>
	{
		new Board{ Title = "Board from Data 1" },
		new Board{ Title = "Board from Data 2" },
	};

}
